
// Brand colors
// -------------------------

@brand-red-dark: #95092A;
@brand-red-light: #E13353;
@brand-green-dark: #0D4940;
@brand-green-light: #85C026;
@brand-blue-dark: #09304E;
@brand-blue-light: #49A0DF;
@brand-yellow-dark: #F4970B;
@brand-yellow-light: #FAD42E;
@brand-black: #221F20;
@brand-grey-dark: #58585A;
@brand-grey: #818285;
@brand-grey-light: #A7A9AC;

@brand-primary: darken(@brand-blue-light, 25%);
@brand-success: darken(@brand-green-light, 5%);
@brand-warning: desaturate(darken(@brand-yellow-light, 20%), 5%);
@brand-danger: desaturate(darken(@brand-red-light, 10%), 5%);
@brand-info: darken(@brand-blue-light, 10%);


// Links
// -------------------------

@link-color: lighten(@brand-primary, 15%);


// Typography
// -------------------------

@brand-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
@brand-font-weight: 700;

@headings-font-family: @brand-font-family;
@headings-font-weight: @brand-font-weight;


// Grid system
// --------------------------------------------------

@grid-float-breakpoint: @screen-md-min;


// Navbar
// -------------------------

@navbar-worldskills-height: 100px;
@navbar-worldskills-padding-vertical: ((@navbar-worldskills-height - @line-height-computed) / 2);

@navbar-worldskills-bg-left: @brand-green-dark;
@navbar-worldskills-bg-center: @brand-green-light;
@navbar-worldskills-bg-right: @brand-blue-dark;

@navbar-inverse-color: @gray-lighter;
@navbar-inverse-bg: @navbar-worldskills-bg-left;

@navbar-inverse-link-color: @gray-lighter;

